body{
    text-align: center;
    background-color: rgb(234, 234, 234);
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}
h1{
    font-size: 3.5rem;
}
.display{
    display: none;
}

@media (max-width: 477px){
    .btn{
        height: 9.5rem;
        width: 9.5rem;
        margin: 0.5rem;
        border: 5px solid black;
    }
    .btn-container{
        margin-top: 4rem;
    }

}
